Repository esmero/format_strawberryfield, pull requests merged in 2023-03, with the labels that each got.

#277 New submodule: format_strawberryfield_rest_oai_pmh
  modules/format_strawberryfield_rest_oai_pmh/README.md
  modules/format_strawberryfield_rest_oai_pmh/format_strawberryfield_rest_oai_pmh.info.yml
  modules/format_strawberryfield_rest_oai_pmh/format_strawberryfield_rest_oai_pmh.links.menu.yml
  modules/format_strawberryfield_rest_oai_pmh/format_strawberryfield_rest_oai_pmh.links.task.yml
  modules/format_strawberryfield_rest_oai_pmh/format_strawberryfield_rest_oai_pmh.routing.yml
  modules/format_strawberryfield_rest_oai_pmh/src/Form/FormatStrawberryfieldRestOaiPmhSettingsForm.php
  modules/format_strawberryfield_rest_oai_pmh/src/Plugin/OaiMetadataMap/MetadatadisplayTemplateMapDc.php
  modules/format_strawberryfield_rest_oai_pmh/src/Plugin/OaiMetadataMap/MetadatadisplayTemplateMapMods.php
  modules/format_strawberryfield_rest_oai_pmh/templates/dc.html.twig
  modules/format_strawberryfield_rest_oai_pmh/templates/mods.html.twig
Labels: future roadmap, Twig, Sub Modules

#281 ISSUE-280:Exclude Facet Processor that allows multiline facet value settings
  format_strawberryfield.routing.yml
  modules/format_strawberryfield_facets/config/schema/format_strawberryfield_facets.schema.yml
  modules/format_strawberryfield_facets/src/Plugin/facets/processor/SbfExcludeSpecifiedItemsProcessor.php
  modules/format_strawberryfield_facets/src/Plugin/facets_summary/processor/LastActiveFacetsProcessor.php
  modules/format_strawberryfield_views/format_strawberryfield_views.module
  modules/format_strawberryfield_views/src/Plugin/views/filter/AdvancedSearchApiFulltext.php
Labels: enhancement, future roadmap, Search and Discovery, Drupal Views, Facets, Sub Modules

#286 ISSUE-283:Facet Summary Processor misbehavior on Date Range when it is the only Facet selected
  modules/format_strawberryfield_facets/config/schema/format_strawberryfield_facets.schema.yml
  modules/format_strawberryfield_facets/src/Plugin/facets/processor/DateRangeProcessor.php
  modules/format_strawberryfield_facets/src/Plugin/facets/widget/DateRangeWidget.php
  modules/format_strawberryfield_facets/src/Plugin/facets_summary/processor/LastActiveFacetsProcessor.php
Labels: bug, enhancement, Search and Discovery, Facets, Sub Modules
