Repository esmero/format_strawberryfield, pull requests merged in 2023-09, with the labels that each got.

#351 ISSUE-350: Refactor Metadata Preview used variables functionality
  src/Entity/MetadataDisplayEntity.php
  src/Form/MetadataDisplayForm.php
Labels: enhancement, Twig, metadata, Custom Entities, UX

#359 ISSUE-358: Metadata Display Preview Codemirror output visually inconsistent
  src/Form/MetadataDisplayForm.php
Labels: UX

#354 ISSUE-353: Hide viewer if embargo is present + enforce embargo on Exposed Metadata Endpoints via 401
  config/schema/format_strawberryfield.entity.metadataexpose_entity.schema.yml
  config/schema/format_strawberryfield.schema.yml
  format_strawberryfield.install
  src/Controller/MetadataExposeDisplayController.php
  src/Entity/MetadataExposeConfigEntity.php
  src/Form/MetadataExposeConfigEntityForm.php
  src/Plugin/Field/FieldFormatter/StrawberryMediaFormatter.php
  src/Plugin/Field/FieldFormatter/StrawberryMiradorFormatter.php
  src/Plugin/Field/FieldFormatter/StrawberryPagedFormatter.php
  src/Plugin/Field/FieldFormatter/StrawberryUVFormatter.php
Labels: enhancement, IIIF, Field Formatter, UI driven hints, UX

#364 ISSUE-363: Wrong empty defaults break View Ajax settings on Map formatter
  src/Plugin/Field/FieldFormatter/StrawberryMapFormatter.php
Labels: bug, Field Formatter
