Repository esmero/format_strawberryfield, pull requests merged in 2023-10, with the labels that each got.

#372 ISSUE-371: Remove name from docs
  README.md
Labels: Documentation

#373 ISSUE-371: Remove name from docs
  README.md
Labels: Documentation

#370 ISSUE-368: edtf_2_iso_date
  format_strawberryfield.libraries.yml
  js/leaflet_strawberry.js
  src/Plugin/Field/FieldFormatter/StrawberryBaseIIIFManifestFormatter.php
  src/TwigExtension.php
Labels: metadata, Twig Extension

#366 ISSUE-365:Upgrade leaflet to latest stable
  format_strawberryfield.libraries.yml
  js/leaflet_strawberry.js
Labels: enhancement, Javascript, Field Formatter, UX

#362 ISSUE-361: ADO to ADO entity reference derived/nested property views filter
  modules/format_strawberryfield_views/config/schema/format_strawberryfield_views.schema.yml
  modules/format_strawberryfield_views/format_strawberryfield_views.module
  modules/format_strawberryfield_views/src/Plugin/views/filter/StrawberryADOfilter.php
  modules/format_strawberryfield_views/src/Plugin/views/filter/StrawberryFlavorsJoin.php
  src/Element/EntityAutocompleteUUID.php
Labels: enhancement, Search and Discovery, Drupal Views, Search API, Sub Modules

#252 ISSUE-248: backend (metadata display) driven Search for OCR
  format_strawberryfield.routing.yml
  src/Controller/MetadataDisplaySearchController.php
  src/Tools/IiifHelper.php
Labels: enhancement, Twig, Javascript, IIIF, Custom Entities
