Repository esmero/format_strawberryfield, pull requests merged in 2023-05, with the labels that each got.

#301 ISSUE-300: Make UUID Entity Reference act on String based defaults (UUID and Arrays of UUIDs)
  src/Element/EntityAutocompleteUUID.php
Labels: bug, enhancement, UI driven hints, UX

#305 ISSUE-304 --- Use the correct variable name for the aggregated fields
  modules/format_strawberryfield_views/src/Plugin/views/filter/AdvancedSearchApiFulltext.php
Labels: bug, Search and Discovery, Search API, Sub Modules

#309 ISSUE-308: Fix null coalescing operator's order at DateRangeProcessor.php
  modules/format_strawberryfield_facets/src/Plugin/facets/processor/DateRangeProcessor.php
Labels: bug, Search and Discovery, Facets, Search API, Sub Modules

#311 ISSUE-310: Show Pretty printed JSON when rendering using native/validated option
  src/Form/MetadataDisplayForm.php
Labels: enhancement, metadata, Custom Entities, UI driven hints

#303 ISSUE-302: A Saga of JS driven IIIF Interactions
  format_strawberryfield.libraries.yml
  js/Leaflet.ImageOverlay.iiifBounded.js
  js/iiif-archipelago-interactions_utils.js
  js/iiif-openseadragon_strawberry.js
  js/leaflet_strawberry.js
  js/mirador_strawberry.js
  js/polyfills/LICENSE.txt
  js/polyfills/README.md
  js/polyfills/pathseg.js
  modules/format_strawberryfield_views/format_strawberryfield_views.install
  modules/format_strawberryfield_views/format_strawberryfield_views.libraries.yml
  modules/format_strawberryfield_views/format_strawberryfield_views.module
  modules/format_strawberryfield_views/js/leaflet_strawberry_views.js
  modules/format_strawberryfield_views/js/sbf-views-ajax-interactions.js
  modules/format_strawberryfield_views/src/Plugin/views/display_extender/StrawberryAjaxInteractions.php
  src/Controller/WebAnnotationController.php
  src/Plugin/Field/FieldFormatter/StrawberryBaseFormatter.php
  src/Plugin/Field/FieldFormatter/StrawberryBaseIIIFManifestFormatter.php
  src/Plugin/Field/FieldFormatter/StrawberryMapFormatter.php
  src/Plugin/Field/FieldFormatter/StrawberryMediaFormatter.php
Labels: enhancement, metadata, Javascript, IIIF, UI driven hints, UX, Annotation API, Search and Discovery, Drupal Views, Search API, Sub Modules, Events and Subscribers

#314 ISSUE-313: Save button on Metadata Display Preview on default theme is under Code Mirror
  css/metadatapreview.css
  format_strawberryfield.libraries.yml
Labels: enhancement, Twig, metadata, external bug, Custom Entities, UI driven hints, UX
