Repository esmero/format_strawberryfield, pull requests merged in 2024-02, with the labels that each got.

#413 ISSUE-412: Tested on production. Finally IP embargoes can cut the Cache crap
  format_strawberryfield.module
  src/Controller/MetadataExposeDisplayController.php
  src/EmbargoResolver.php
  src/Plugin/Field/FieldFormatter/Strawberry3DFormatter.php
  src/Plugin/Field/FieldFormatter/StrawberryAudioFormatter.php
  src/Plugin/Field/FieldFormatter/StrawberryCitationFormatter.php
  src/Plugin/Field/FieldFormatter/StrawberryImageFormatter.php
  src/Plugin/Field/FieldFormatter/StrawberryMediaFormatter.php
  src/Plugin/Field/FieldFormatter/StrawberryMetadataTwigFormatter.php
  src/Plugin/Field/FieldFormatter/StrawberryMiradorFormatter.php
  src/Plugin/Field/FieldFormatter/StrawberryPagedFormatter.php
  src/Plugin/Field/FieldFormatter/StrawberryPannellumFormatter.php
  src/Plugin/Field/FieldFormatter/StrawberryPdfFormatter.php
  src/Plugin/Field/FieldFormatter/StrawberryUVFormatter.php
  src/Plugin/Field/FieldFormatter/StrawberryVideoFormatter.php
  src/Plugin/Field/FieldFormatter/StrawberryWarcFormatter.php
Labels: bug, external bug, Field Formatter, Drupal 10, Embargoes

#416 Issue-414-1.4.0--leaflet-options --> 1.4.0
  config/schema/format_strawberryfield.schema.yml
  js/leaflet_strawberry.js
  src/Plugin/Field/FieldFormatter/StrawberryMapFormatter.php
Labels: Javascript, Field Formatter, UX

#415 Issue-414--leaflet-options --> 1.3.0
  config/schema/format_strawberryfield.schema.yml
  js/leaflet_strawberry.js
  src/Plugin/Field/FieldFormatter/StrawberryMapFormatter.php
Labels: enhancement, Javascript, Field Formatter, UX

#420 Adds the ability to change the default base URL for the images of IA BookReader
  config/schema/format_strawberryfield.schema.yml
  js/iiif-iabookreader_strawberry.js
  src/Plugin/Field/FieldFormatter/StrawberryPagedFormatter.php
Labels: enhancement
